.brand {
    background: var(--primary);
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.brand img {
    height: var(--navheight);
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 680px) {
    .brand {
        position: fixed;
        top: 0;
        padding-left: var(--hpad);
    }
}
