nav {
    background: var(--primary);
    position: sticky;
    bottom: 0;
    order: 99;
    font-size: 0.8em;
}

.nav-items {
    display: flex;
}

nav a {
    min-height: var(--navheight);
    color: #fff;
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background: var(--primary-dark);
}

@media only screen and (min-width: 680px) {
    nav {
        bottom: auto;
        top: 0;
        order: 0;
        font-size: 1em;
        display: flex;
        justify-content: flex-end;
    }

    .nav-items {
        justify-content: flex-end;
        padding-right: var(--hpad);
    }

    nav a {
        padding: 0 8px;
        flex: 0;
    }
}
