:root {
    --primary: #639;
    --primary-light: #74a;
    --primary-dark: #528;
    --navheight: 52px;
    --hpad: 15px;
    --light: #eee;
    --grey-light: #ccc;
    --dark: #222;
    --grey-dark: #444;
}
